li {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: #000;
}


.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.header-title {
  font-size: 28px;
  margin-left: 50px;
  font-weight: bold;
}

.header-link-list {
  display: flex;
}

.header-link {
  margin-right: 40px;
}

.header-link a {
  margin-top: 5px;
  display: inline-block;
}

.btn-logout {
  border: none;
  background-color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}


main {
  width: 100%;
  background-color: #eee;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.flex, .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  padding: 40px 0;
}

.date_link {
  border: 1px solid blue;
  background-color: #fff;
  color: blue;
  padding: 0 7px;
}

.date {
  font-size: 16px;
  margin: 0 30px;
}

.attendance_table {
  width: 100%;
}

tr {
  border-top: 1px solid black;
}

th,td {
  text-align: center;
  width: 20%;
  padding: 15px 0;
  font-size: 14px;
}

.pagination {
  padding: 50px 0 70px 0;
}

.page-link {
  color: rgb(47, 126, 228);
  background-color: #fff;
  padding: 10px;
}

.page-item:not(:last-of-type) {
  margin-right: 2px;
}

.page-item:first-of-type .page-link {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.page-item:last-of-type .page-link{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* svg.w-5.h-5, .duration-150, .px-4 {
  width: 10px;
  height: 10px;
  background-color: #fff;
  padding: 10px;
  color: blue;
} */

/* svg.w-5.h-5:first-of-type {
  border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
} */


.footer {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  font-size: 12px;
  font-weight: bold;
}