li {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: #000;
}


.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.header-title {
  font-size: 28px;
  margin-left: 50px;
  font-weight: bold;
}

.header-link-list {
  display: flex;
}

.header-link {
  margin-right: 40px;
}

.header-link a{
  margin-top: 5px;
  display: inline-block;
}
/* 高さ調整は↑でいいのか？ */

.btn-logout {
  border: none;
  background-color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}



main {
  width: 100%;
  background-color: #eee;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
}

.greeting {
  text-align: center;
  padding: 40px 0;
  font-weight: bold;
}

.buttons {
  padding-bottom: 100px;
}

.work-button,.rest-button {
  display: flex;
  justify-content: space-between;
}

.work-button {
  margin-bottom: 40px;
}

.work-start,
.work-end,
.rest-start,
.rest-end {
  width: 47%;
}

.no_push {
  padding: 60px 0;
  font-size: 16px;
  font-weight: bold;
  background-color: #fff;
  border-radius: 5px;
  border: none;
  text-align: center;
}

.no_push p{
  opacity: 0.3;
}

.btn {
  width: 100%;
  display: block;
  padding: 60px 0;
  font-size: 16px;
  font-weight: bold;
  background-color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}


.footer {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  font-size: 12px;
  font-weight: bold;
}